<%= javascript_include_tag 'landing_page' %>

<div id='fullPage'>
  <section class="vertical-scrolling">
    <div class="horizontal-scrolling slide1 slides">
      <div class='slide-container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3'>
        <h2 class='slide-description' data-slide='1'>PRUDENT DESIGN AND CONTRACTS<p class='underbar'>___</p></h2>            
      </div>
    </div>
    <% @slide_images.each do |slide_image| %>
      <div class="horizontal-scrolling slide<%=slide_image.row_order + 1%> slides" style="background-image: url(<%= slide_image.photo.cover %>); <% if slide_image.black_description? %>color: black;<% end%>">
          <div class='slide-container col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3'>
            <h2 class='slide-description' data-slide='<%=slide_image.row_order + 1%>'><%=slide_image.description.upcase%><p class='underbar'>___</p></h2>            
          </div>
        </div>
    <% end %>
  </section>
</div>

<div class='slide-control-container'>
  <div class'slide-control-statusbar-max'>
    <div class='slide-control-status'>&nbsp</div>
  </div>
  <div class='slide-control'>
    <div class='col-xs-1' id='play-button'><%= image_tag('pause-button.png')%></div>
    <div class='col-xs-1' id='slide-counter'><span class='current-slide-index'>1</span>/<%= @slide_images.count + 1%></div>
    <div class='col-xs-4'id='slide-caption'><%= @slide_images.first.description %></div>
    <ul class='col-xs-6' id= 'slide-list'>
      <li class='list-button active' id='list-button-0'><a href="/#firstPage">&nbsp</a></li>
      <% @slide_images.each_with_index do |slide_image, index| %>
        <li class='list-button' id='list-button-<%=index + 1%>'><a href="/#firstPage/<%=index+1%>">&nbsp</a></li>
      <% end %>      
    </ul>
  </div>
</div>