<div class='individual-project'>
  <h1 class='col-md-offset-1'><%=current_project.name %><p class='underbar'>___</p></h1>

  <%= content_tag(:div, image_tag(current_project.project_main_image.photo.cover, class: 'project-main-image-full'), class: 'project-main-image-div') if current_project.project_main_image.present? %>

  <% @project_gallery_images.each_with_index do |project_gallery_image, index| %>
    <% if index == 0 %>
      <div class='align-left project-gallery-description-1'>
        <%= current_project.project_descriptions.first.contents.html_safe if current_project.project_descriptions.present? %>
      </div>
      <%= content_tag(:div, image_tag(project_gallery_image.photo.medium, class: "project-gallery-image") ,class: "project-gallery-image-div align-left short-width")%>
      <%= content_tag(:div, '' ,class: 'clear')%>
    <% end %>

    <% if index == 1 %>
      <%= content_tag(:div, image_tag(project_gallery_image.photo.medium, class: "project-gallery-image") ,class: "project-gallery-image-div align-left long-width")%>      
      <div class='align-left project-gallery-description-2'>
          <h3>PROJECT INFORMATION<p class='underbar'>___</p></h3>
          <br/>
          <p>Location: <%= current_project.location %></p>
          <p>Type: <%= current_project.category.name %></p>
          <p>Size: <%= current_project.size %></p>
      </div>
      
      <%= content_tag(:div, '' ,class: 'clear')%>
    <% end %>

    <% if index > 1 %>
      <% if project_gallery_image.full_width %>
        <% width = 'full-width' %>
      <% else %>
        <% width = project_gallery_image.orientation == 'landscape' ? 'long-width' : 'short-width' %>
      <% end %>

      <%= content_tag(:div, image_tag(project_gallery_image.photo.medium, class: "project-gallery-image") ,class: "project-gallery-image-div align-left #{width}")%>
      
    <% end %>

  <% end %>

</div>