<!DOCTYPE html>
<html>
<head>
  <title>Prudent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="initial-scale=1">  
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>

<header class='navigation'>
  <div class='navigation-inner col-xs-12 col-md-8 col-md-offset-2'>
    <div class='navigation-left'>
      <%= link_to 'Prudent', root_path%>
    </div>
    <div class='navigation-right'>
      <ul class='navigation-right-list'>
        <li><%= link_to 'ABOUT', about_path, id: 'about-link'%><p>____</p></li>
        <li>
          <div class='dropdown'>
            <%= link_to 'PROJECTS', projects_path, id: 'projects-link' %><p>____</p>            
            <div class='dropdown-content'>
              <div class='dropdown-content-inner'>
                <%= image_tag('dropdown-border-image.png', size: '69x13')%>
                <div class='dropdown-links'>
                  <% Category.all.each do |category|%>
                    <%= link_to category.name.upcase, category_path(category)%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><%= link_to 'CONTACT', new_contact_message_path, id: 'contact-link'%><p>____</p></li>
      </ul>
    </div>
  </div>
</header>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
 <% end %>

<section class='site-content col-xs-12 col-md-8 col-md-offset-2'>
  <%= yield %>
</section>

<div class='clear'></div>
<footer class='site-footer'>
  <div class='col-xs-12 col-md-offset-2 col-md-8 site-footer-inner'>
    <div class='footer-details'>
      <div class='col-xs-4 col-md-3'>
        <p class='overbar'>___</p>
        <p class='sameline'>PRUDENT DESIGN</p> 
        <p><span class='footer-brand-md'>&nbsp&nbsp&nbsp&nbsp&nbspAND </span><span class='footer-brand-sm'>&</span>CONTRACTS</p>
      </div>
      <div class='col-xs-4 col-md-3'>
        <p class='overbar'>___</p>
        <p>PRUDENT</p>
        <p class='sameline'>123 DAWSON ROAD</p>
        <p>SINGAPORE 123456</p>
      </div>
      <div class='col-xs-4 col-md-3'>
        <p class='overbar'>___</p>
        <p class='phone-and-email'>P: <span>+65 12345678</span></p>
        <p class='phone-and-email'>E: <span><%= mail_to 'prudent@gmail.com', 'PRUDENT@GMAIL.COM',class: 'footer-mail-link' %></span></p>
      </div>
    </div>
    <div class='clear'></div>
    <div class='footer-copyright'>
      <p>@Prudent 2016</p>
    </div>
  </div>
</footer>

</body>

</html>
