<!DOCTYPE html>
<html>
<head>
  <title>Prudent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="initial-scale=1">  
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>

<header class='navigation'>
  <div class='navigation-inner col-xs-12 col-md-8 col-md-offset-2'>
    <div class='navigation-left'>
      <%= link_to 'Prudent', root_path%>
    </div>
    <div class='navigation-right'>
      <ul class='navigation-right-list'>
        <li><a href="#">ABOUT</a><p>____</p></li>
        <li>
          <div class='dropdown'>
            <%= link_to 'PROJECTS', projects_path %><p>____</p>            
            <div class='dropdown-content'>
              <div class='dropdown-content-inner'>
                <%= image_tag('dropdown-border-image.png', size: '69x13')%>
                <div class='dropdown-links'>
                  <% Category.all.each do |category|%>
                    <%= link_to category.name.upcase, category_path(category)%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><%= link_to 'CONTACT', new_contact_message_path%><p>____</p></li>
      </ul>
    </div>
  </div>
</header>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
 <% end %>

<section class='site-content col-xs-12 col-md-8 col-md-offset-2'>
  <%= yield %>
</section>

</body>

</html>
